* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.125 Microsoft YaHei;
    background: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    width: 600px;
    height: 350px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.inner {
    padding: 15px;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

.nav li {
    float: left;
    padding: 10px 30px;
    background: #f1f1f1;
    color: #000;
    cursor: pointer;
    transition: all 0.5s linear;
}

.nav li.on {
    background: #c40000;
    color: #fff;
}

.photo {
    float: left;
    width: 430px;
    overflow: hidden;
}

.photo img {
    width: 430px;
}

.part {
    width: 10000px;
}

.side {
    float: right;
    width: 140px;
}

.link {
    float: left;
}

.bar li {
    height: 40px;
    line-height: 40px;
    text-indent: 2em;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.5s linear;
}

.bar li.on {
    background: #333;
    color: #fff;
}

.none {
    display: none;
}